.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  padding: 20px;
}

.card {
  background-color: #1a1a1a;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  flex: 1;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.imageWrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.bookImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.card:hover .bookImage {
  transform: scale(1.1);
  opacity: 0.9;
}

.details {
  text-align: left;
  margin-bottom: 12px;
  width: 100%; /* Ensures the text block takes full width */
}

.title {
  font-size: 1.2rem; /* Decreased font size */
  margin-bottom: 8px;
  color: #e6e6e6;
}

.author {
  font-size: 1rem;
  margin-bottom: 4px;
  color: #ccc;
}

.genre {
  font-size: 0.85rem;
  color: #999;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.iconButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.iconButton:hover {
  color: #f39c12;
}

.saveButton,
.deleteButton {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.saveButton:hover,
.deleteButton:hover {
  background-color: #0056b3;
}

.bookList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px;
  background-color: #2a2a2a;
}

.bookItem {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  margin-bottom: 4px;
}

.bookItem:hover {
  background-color: #444;
}

.selected {
  background-color: #27ae60;
  color: #fff;
}

.proceedButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s;
  width: 100%;
}

.proceedButton:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .card {
    padding: 12px;
    max-width: 100%;
  }

  .imageWrapper {
    height: 200px;
  }

  .title {
    font-size: 1.1rem;
  }

  .author,
  .genre {
    font-size: 0.85rem;
  }

  .proceedButton {
    padding: 8px 16px;
  }
}
