.modalContainer {
  padding: 20px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.6);
  max-width: 400px;
  margin: 0 auto;
}

.modalHeader {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffeb3b;
  font-weight: 600;
}

.bookList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.bookItem {
  padding: 15px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  border-radius: 6px;
}

.bookItem:hover {
  background-color: #333;
  transform: scale(1.02);
}

.bookItemSelected {
  background-color: #3f51b5;
  color: #ffffff;
}

.proceedButton {
  display: block;
  width: 100%;
  padding: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.proceedButton:hover {
  background-color: #388e3c;
  transform: scale(1.02);
}
